body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 5px;
  padding: 0;
}
a {
  margin: 5px;
  text-decoration: none;
  color: rgb(48, 189, 244);
  font-weight: bold;
}
a:hover {
  color: white;
  text-shadow: 5px 5px 10px black;
}
footer {
  background-color: #2f0a07;
  color: white;
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}
footer section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.leaflet-container {
  width: 25vw;
  height: 25vh;
}

/* navbar classes */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
  background-color: #2f0a07;
}
.nav-logo {
  height: 12vh;
  border-radius: 30%;
  margin: 0;
  padding: 10px;
}
/* signup and login page classes */
.signup-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  height: 40vh;
}
.form-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
  min-height: 70vh;
}
.body-container {
  min-height: 70vh;
}
.error {
  color: red;
}
